header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224, 222, 222);
    padding: 10px;
}
.header_name {
  font-size: 35px;
  font-weight: bold;
  padding-right: 350px;

}
.shosai {
  display: flex;
}
.image {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 50px;
  left:150px;
}

.img {
  background: orange;
  border: 1px solid #000;
  width: 200px;
  height: 200px;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #333;
  border-radius: 10px;
  overflow: hidden;
  margin-top:100px;
  margin-right:100px;
  margin-bottom:100px;
  margin-left:400px;
  width: 700px;
  height: 100px;
  position: relative;
  top: 50px;
  left:0px;

}
th, td {
  padding: 10px 25px;
  border-bottom: 1px solid #555;
}
th {
  background-color: #fff;
}
td {
  border-left: 1px solid #555;
}
tr:last-child th,
tr:last-child td {
  border-bottom: none;
}
input[type="radio"] {
  /* border: 1px solid black;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: -2px;
  box-sizing: border-box; */
  -webkit-appearance: radio; /* WebKitブラウザ用 */
    -moz-appearance: radio;    /* Mozillaブラウザ用 */
    appearance: radio;         /* 標準の見た目 */
}
.button_chose{
  background: white;
  padding:0.3em 0.5em;
  border:black 1px solid;
  text-decoration:none;
  font-size:1em;
  position: relative;
			top: 50px;
			left:600px;
}
.button_signup{
  background: white;
  padding:0.3em 0.5em;
  border:black 1px solid;
  text-decoration:none;
  font-size:1em;
  position: relative;
			top: 50px;
			left:600px;
}
.button_edit{
  background: white;
  padding:0.3em 0.5em;
  border:black 1px solid;
  text-decoration:none;
  font-size:1em;
  position: relative;
			top: 50px;
			left:630px;
}
.button_delete{
  background: white;
  padding:0.3em 0.5em;
  border:black 1px solid;
  text-decoration:none;
  font-size:1em;
  position: relative;
			top: 50px;
			left:850px;
}