<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="destyle.css">
    <link rel="stylesheet" href="System_henkou.css">
    <link rel="stylesheet" href="System_shohin_detail.css">
    <title>変更画面</title>
</head>
<body>
    <div class="header">
        管理画面
        <a href="logout.html" value="ログアウト">ログアウト</a>
    </div>
    <div class="container">
        <div class="title-box">
            <a href=".html" value="戻る">
                ＜戻る
            </a>
        </div>
        <hr>

        <form action="">
    <table>
    <div class="kanrisya_mei">
        <tr>
            <th>
                <a>管理者名</a>
            </th>
            <th>
                <input type="text" name="System_kanrisya_mei" v-model="System_kanrisya_mei" class="">
            </th>
        </tr>
    </div>
    <div class="kengen">
        <tr>
            <th>
                <a>権限レベル</a>
            </th>
            <th>
                <select name="kengen" id="kengen">
                <option value="高">高</option>
                <option value="低">低</option>
            </th>
        </tr>
        </select>
    </div>
    <div class="kanrisya_id">
        <tr>
            <th>
                <a>管理者ID</a>
            </th>
            <th>
                <input type="text" name="System_kanrisya_id" v-model="System_kanrisya_id" class="">
            </th>
        </tr>
    </div>
    <div class="kanrisya_password">
        <tr>
            <th>
                <a>パスワード</a>
            </th>
            <th>
                <input type="password" name="System_kanrisya_password" v-model="System_kanrisya_password" class="">
            </th>
        </tr>
    </div>
</table>
    <div class="henko">
        <input type="submit" name="System_kanrisya_henko" value="変更">
    </div>
</form>
</div>
    <div class="footer">
        ABCC_SD2F_T1_Sep12
    </div>
</body>
</html>