.header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 1% 50px;
}
    .menu-icon{
        display: none;
    }

.container{
    margin: 0px 5vw;
}

.title-box{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 20px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

    .box{
        display: inline-block;
        width: 25%;
        height: 200px;
        border: 1px solid #ebeced;
        margin: 10px;
        padding-top: 40px;
        text-align: center;
        color: #3e3e3b;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
        }
    .box:hover{
        color: #4c586f;
    }
    .icon{
        font-size: 80px;
        height: 100px;
        line-height: 130px;
    }
    .box p {
        font-size: 20px;
        font-weight: bold;
    }
    

.footer{
        background-color: lightgrey;
        display: flex;
        justify-content: flex-end;
        position: fixed;
        padding: 1% 50px;
        bottom: 0;
        width: 100%;
    }