.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224, 222, 222);
    padding: 10px;
}
.header_name {
  font-size: 35px;
  font-weight: bold;
  padding-right: 350px;

}

.letter {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 200px;

  }
.logout_link {
    text-align:right;

  }
  .header_name {
    font-size: 35px;
    font-weight: bold;
    padding-right: 350px;
  }
  .button{
    background: white;
    padding:0.5em 1em;
    border:black 2px solid;
    text-decoration:none;
    font-size:1em;
  }
  .area{
    display:flex;
    justify-content: space-evenly;
    padding-bottom: 350px;
  }
  
  footer {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(224, 222, 222);
    border-top: 1px black solid;
  }
    
