.kanrisya_mei {
    font-size: 25px;
   
}
input[name="System_kanrisya_mei"] {
    border: 1px solid black;
    
}

.kengen {
    font-size: 25px;
    
}
table th {
    border: 0;
}
select  {
    border: 1px solid black;
    
    
} 
.kanrisya_id {
    font-size: 25px;
}
input[name="System_kanrisya_id"] {
    border: 1px solid black;
}
.kanrisya_password {
    font-size: 25px;
}

input[name="System_kanrisya_password"] {
    border: 1px solid black;
}
.henko {
    text-align: right;
    font-size: 25px;
    margin: 10px 280px;
}

input[name="System_kanrisya_henko"] {
    margin: 30px;
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px 30px;
}