header{
  border: 2px solid #000000;
  text-align: center;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  padding-top: 3px;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
}

.todo {
    font-weight: bold;
}

.zyusyo {
    margin: 20px 0px;
    
}

.user_zyusyo_hensyu {
    border: 1px solid black;
    display: block;
    margin: 0px 200px 20px 0px;
    padding: 10px;
    text-align: center;
}

.shiharai {
    padding: left;
    font-weight: bold;
}
.kado {
    padding: right;
}
.user_credit {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    padding: 30px 0px 30px 0px;
}

.user_cash{
  border: 1px solid black;
  margin: 10px 0px;
  padding: 30px 0px;
  font-weight: bold;
}

.user_konbini_cash{
    border: 1px solid black;
    margin: 10px 0px;
    padding: 30px 0px;
    font-weight: bold;
}

.user_kan {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: black;
    color: white;
    margin: 20px 80px;
}
label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
  }
  
  label::before,
  label::after {
    content: "";
    display: block; 
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
  }
  
  label::before {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    left: 5px;
  }
  
  label::after {
    background-color: #ddd;
    border-radius: 50%;
    opacity: 0;
    width: 16px;
    height: 16px;
    left: 7px
  }
  
  input:checked + label::after {
    opacity: 1;
  }
  
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
}