.todo {
    font-weight: bold;
}
.zyusyo {
    margin: 20px 0px;
    
}
.user_zyusyo_hensyu {
    border: 1px solid black;
   display: block;
   margin: 0px 200px 20px 0px;
   padding: 5px 10px;
    text-align: center;
}
.user_credit {
  border: 1px solid black;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px ;
  padding: 30px 3px;
}
.shiharai {
    padding: left;
    font-weight: bold;
}
.kado {
    padding: right;
}
.user_konbini{
    border: 1px solid black;
    margin: 5px;
    width: 100%;
    padding: 30px 3px;
    font-weight: bold;    
}
.user_kan {
    display: block;
    text-align: center;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: black;
    color: white;
    margin: 20px 80px;
}

.radio-001 {
  display: flex;
  flex-wrap: wrap;
  gap: .3em 2em;
  border: none;
}

.radio-001 label {
  display: flex;
  align-items: start;
  gap: 0 .5em;
  position: relative;
  cursor: pointer;
 
}

.radio-001 label::before,
.radio-001 label:has(:checked)::after {
  border-radius: 0%;
  content: '';
  
}

.radio-001 label::before {
  width: 18px;
  height: 18px;
  background-color: #e6edf3;
  
}

.radio-001 label:has(:checked)::after {
  position: absolute;
  top: 50%;
  left: 9px;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #2589d0;
  animation: anim-radio-001 .3s linear;
}



.radio-001 input {
  display: none;
}