header{
    border: 2px solid #000000;
    text-align: center;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 5px 0px 10px;
    font-weight: bold;
}

.user_dashboard{
    text-align: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin: 30px 60px;
    font-weight: bold;
}
