body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; /* 横に配置するために変更 */
}

.search-box {
  padding: 15px;
  border: 2px solid black;
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.search-box:focus {
  border-color: #e74c3c;
}

.search-button {
  margin-left: 10px; /* ボタンとボックスの間隔を追加 */
  padding: 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #c0392b;
}