body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .cart-container,
  .favorites-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
  }
  
  .product {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .product img {
    max-width: 100px;
    margin-right: 10px; /* 画像の右に余白を追加 */
  }
  
  .product p {
    margin: 0; /* 段落のマージンをリセット */
  }
  
  /* 削除ボタンだけ右寄せにするスタイル */
  .product button {
    margin-left: auto;
  }
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; /* 適当なマージンを追加 */
    border-radius: 10px; /* お嬢様っぽさを出すために角を丸くしますわ */
  }
  
  .total {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-weight: bold;
  }
 