header{
    display: flex;
    border: 10px solid #000000;
    text-align: center;
    padding: 10px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

