header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 1% 50px;
}

.container{
    margin: 0px 5vw;
}

.title-box{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 20px;
}

table{
    border-collapse: collapse;
    text-align: center;
    margin: 20px 0px;
    width: 100%;
}

th{
    border: 1px solid black;
    padding: 0.5em 1em;
    text-align: center;
}

td{
    border: 1px solid black;
    padding: 0.5em 1em;
}

footer{
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 1% 50px;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 100%;
}
