header{
    border: 2px solid #000000;
    text-align: center;
    padding: 10px;
    height: 30px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.container{
    margin: 100px 5vw;
}

.user_mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 25px 10px;
    margin: 15px;
}

input{
    border: 1px solid #000000;
}

.user_pass{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    padding: 20px 10px;
    margin: 15px;
}

.boxes{
    display: flex;
    justify-content: center;
}

.box{
    display: inline-block;
    border: 1px solid #000000;
    margin: 20px 20px;
    text-align: center;
    color: #3e3e3b;
    border-radius: 10px;
    }
    .box p{
        margin: 15px;
        font-weight: bold;
    }