.System_name{
    border: 2px solid #000000;
    text-align: center;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.title{
    font-size: 20px;
}

.shohin_img{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 230px;
}

.border{
    border: 1px solid #000000 ;
    width: 100%;
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th{
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid black;
    padding: 0.5em 7px;
    text-align: center;
}

td{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    padding: 0.5em 7px;
}

.shohin_detail{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.shohin_name{
    display: flex;
    justify-content: flex-start;
}
    .shohin_name p{
        font-size: 15px;
    }

.shohin_price{
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
}
    .shohin_price p{
        font-size: 15px;
        margin: 1px 10px;
    }

.shohin_heart{
    display: flex;
    justify-content: flex-end;
    margin: 1px auto;
    padding-right: 10%;
}

.shohin_price_taxincluded{
    display: flex;
    justify-content: flex-start;
}
    .shohin_price_taxincluded p{
        font-size: 10px;
    }

.shohin_explanation{
    display: flex;
    justify-content: flex-start;
}
    .shohin_explanation p{
        font-size: 15px;
    }

.same_bland{
    font-size: 10px;
    padding-top: 5%;
}

.shohin_same_img{
    display: flex;
    justify-content: space-around;
    width: 100px;
    height: 50px;
}

.border{
    border: 1px solid #000000 ;
    width: 100%;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: inline-block;
    border: 1px solid #000000;
    margin: 10px 20px;
    text-align: center;
    color: #3e3e3b;
    border-radius: 10px;
    }
    .box p{
        margin: 15px;
        font-weight: bold;
    }

.boxs{
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    margin: 10px 30px;
    text-align: center;
    border-radius: 10px;
    }
    .boxs p{
        margin: 15px;
        font-weight: bold;
    }