header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 1% 50px;
}

.container{
    margin: 0px 5vw;
}
.upload{
    text-align: center;
    margin: 1.5em;
    font-size: 20px;
    vertical-align: middle;
}

.shohin_kensaku{
    outline: solid 1px #000000;
}
.update{
    text-align: right;
    margin-top: 1em;
    margin-right:10vw;
}

.box{
    display: inline-block;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    color: #3e3e3b;
    border-radius: 10px;
    }
    .box p{
        margin: 15px;
        font-weight: bold;
    }

table{
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

td{
    padding: 1.5em 2em;
    vertical-align: middle;
    border: 1px solid black;
}

.count_cell{
    width: 15vw;
}

.shohin{
    display: flex;
    justify-content: space-between;
}

.stock_count{
    display: flex;
    justify-content: space-around;
}
  
.footer{
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 1% 50px;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    width: 100%;
}


