header{
    border: 2px solid #000000;
    text-align: center;
    height: 120px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding-top: 5px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.title{
    font-size: 50px;
}


.boxes{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.box{
    display: inline-block;
    height: 80px;
    margin : 30px;
    padding: 23px;
    width: 43vw;
    text-align: center;
    background-color: #000000;
    border-radius: 0px;
    }
    .box p{
        font-size: 30px;
        font-weight: bold;
        color:#ffffff;
    }
p{
    font-size: 40px;
}
.yokonarabi{
    display: flex;
    overflow: auto;
}

.checked_item{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

    .checked_img img{
        height: 300px;
        width: 300px;
        margin: 10px;
        object-fit: cover;
        border: 1px solid #000000;
    }

    .checked_shohin_name{
        margin: 0px 20px;
    }

    .checked_shohin_price{
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
    }

    .heart-container{
        transition: color 0.3s ease;
    }

    .heart-container:hover{
        cursor: pointer;
    }

.favorite_item{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

    .favorite_img img{
        height: 300px;
        width: 300px;
        margin: 10px;
        object-fit: cover;
        border: 1px solid #000000;
    }

    .favorite_shohin_name{
        margin: 0px 20px;
    }

    .favorite_shohin_price{
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
    }


.icon_false{
    cursor: pointer;
}

/* ハンバーガーメニューの項目 */
.hamburger{
    width: 40px;
    height: 25px;
    position: relative;
    top: 20px;
    left: 20px;
  }
  .hamburger span{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000000;
    transition: .5s;
  }

  .hamburger span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 0;
  }
  .hamburger span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    top: 50%;
  }
  .hamburger span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 100%;
  }


  .slide_menu{
    background-color: white;
    position: fixed;
    opacity: 1;
    visibility: visible;
    top: 200px;
    width: 100%;
    left: 0;
    transition: .5s;
  }

  .hidden{
    opacity: 0;
    visibility: hidden;
    transition: .5s;
  }

  h1 {
    text-align: center;
    font-size: 30px;
    margin: 20px 5px 0px 10px;
    font-weight: bold;
}

.user_dashboard{
    text-align: center;
    border: 1px solid black;
    padding: 20px 10px;
    margin: 30px 60px;
    font-weight: bold;
}

/* ハンバーガーメニューをクリックした後のCSS */
.hamburger.active span:first-of-type{/* ハンバーガーメニューの1番目の線 */
    top: 50%;
    transform: rotate(405deg);
  }
  .hamburger.active span:nth-of-type(2){/* ハンバーガーメニューの2番目の線 */
    opacity: 0;/* 透明にする */
  }
  .hamburger.active span:last-of-type{/* ハンバーガーメニューの3番目の線 */
    top: 50%;
    transform: rotate(-405deg);
  }
  .slide-menu.active{
    transform: translateX(0); 
  }