.System_name{
    border: 2px solid #000000;
    text-align: center;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.title{
    font-size: 20px;
}