header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    padding: 1% 50px;
}

.container{
    margin: 0px 5vw;
}

.title-box{
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-size: 20px;
}

.check{
    padding: 50px;
    padding-left: 200px;
    font-size: 25px;
}

table{
    display: flex;
    text-align: center;
    padding: 50px;
    padding-left: 200px;
    width: 100%;
    font-size: 25px;
}

td{
    padding: 0.5em 1em;
}

.changebutton{
    display: flex;
    justify-content: flex-end;
}

.box{
    display: inline-block;
    text-align: left;
    border: 1px solid #000000;
    border-radius: 10px;
    margin: 10px 200px;
    text-align: center;
    color: #3e3e3b;
    }
    .box p{
        padding: 30px 60px;
        font-weight: bold;
    }

footer{
    background-color: lightgrey;
    display: flex;
    justify-content: flex-end;
    padding: 1% 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}