header{
    border: 2px solid #000000;
    text-align: center;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    padding-top: 3px;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

.title{
    font-size: 20px;
}

.shohin_img{
    width: 100%;
    height: 230px;
}

.slide-items{
    width: 100%;
    height: 230px;
  }
  
  .slide-items img{
    width: 100%;
    height: 230px;
    object-fit: contain;
  }

/* 画像設定 */
/*戻る、次へ矢印の位置*/
.slick-prev, 
.slick-next {
    position: absolute;/*絶対配置にする*/
  z-index: 3;
    top: 42%;
    cursor: pointer;/*マウスカーソルを指マークに*/
    outline: none;/*クリックをしたら出てくる枠線を消す*/
    border-top: 2px solid #ccc;/*矢印の色*/
    border-right: 2px solid #ccc;/*矢印の色*/
    height: 25px;
    width: 25px;
}

.slick-prev {/*戻る矢印の位置と形状*/
    left:2.5%;
    transform: rotate(-135deg);
}

.slick-next {/*次へ矢印の位置と形状*/
    right:2.5%;
    transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  position: relative;
  z-index: 3;
    text-align:center;
  margin:-20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;/*ドットボタンのサイズ*/
    height:8px;/*ドットボタンのサイズ*/
    display:block;
    border-radius:50%;
    background:#ccc;/*ドットボタンの色*/
}

.slick-dots .slick-active button{
    background:#333;/*ドットボタンの現在地表示の色*/
}

table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
}

th{
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid black;
    padding: 0.5em 7px;
    text-align: center;
}

td{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid black;
    padding: 0.5em 7px;
}

input[type="radio"] {
    -webkit-appearance: radio; /* WebKitブラウザ用 */
      -moz-appearance: radio;    /* Mozillaブラウザ用 */
      appearance: radio;         /* 標準の見た目 */
  }
.shohin_detail{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.shohin_name{
    display: flex;
    justify-content: flex-start;
}
    .shohin_name p{
        font-size: 15px;
    }

.shohin_price{
    display: flex;
    justify-content: flex-start;
    padding-top: 5%;
}
    .shohin_price p{
        font-size: 15px;
        margin: 1px 10px;
    }

.heart-container{
    display: flex;
    justify-content: flex-end;
    margin: 1px auto;
    padding-right: 10%;
}

.heart-container:hover{
    cursor: pointer;
}

.shohin_price_taxincluded{
    display: flex;
    justify-content: flex-start;
}
    .shohin_price_taxincluded p{
        font-size: 10px;
    }

.shohin_explanation{
    display: flex;
    justify-content: flex-start;
}
    .shohin_explanation p{
        font-size: 15px;
    }

.same_bland{
    font-size: 10px;
    padding-top: 5%;
}

.yokonarabi{
    display: flex;
    overflow: auto;
    height: 36vw;
}

.same_brand_shohin{
    width: 120px;
    height: 30vw;
}

.same_brand_shohin img{
    width: 100px;
    height: 100px; 
    object-fit: contain;
    margin: 5px;
}

.same_brand_shohin p{
    margin-left: 5px;
}

.border{
    border: 1px solid #000000 ;
    width: 100%;
}

.boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: inline-block;
    border: 1px solid #000000;
    margin: 10px 20px;
    text-align: center;
    color: #3e3e3b;
    border-radius: 10px;
    }
    .box p{
        margin: 15px;
        font-weight: bold;
    }

.boxs{
    display: inline-block;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    margin: 10px 30px;
    text-align: center;
    border-radius: 10px;
    }
    .boxs p{
        margin: 15px;
        font-weight: bold;
    }